# Backend
__pycache__/
*.pyc

backend/app/recordings/
backend/app/generations/

# Virtual environments
myvenv/
wslvenv/

# Environment variables
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db