# Backend

*__pycache__
*.pyc

backend/app/recordings
backend/app/generations


# Frontend
frontend/node_modules/
frontend/dist/ #just a good pratice although not used yet


# VS Code
.vscode/

# OS files, just a good pratice although not used yet
.DS_Store
Thumbs.db

*env*